.header {
  /* border: 2px solid black; */
}
.header a {
  border: 3px solid black;

  display: inline-block;
  color: red;
  text-decoration: none;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 40px;
  padding: 15px;
  text-shadow: 4px 4px blue;
}
.navbar {
  /* width: 50%; */
  max-width: 500px;
  border: 15px solid plum;
  /* width er shahajje bole dite pari ekta block element kototuk place nibe */
  background-color: lightgrey;
  padding: 15px;
  margin: 25px;
  outline: 15px solid red;
  /*bahire ekta border er moto create hbe */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  eta default css er font */
  font-family: font-family: 'Bebas Neue', cursive;;
  /* eta font family er font */
}
.navbar p {
  text-indent: 50px;
  /*prothom line ta viteore show korbe */
  /* text-align: center; */
  text-align: justify;
  /* text-decoration: underline; */
  line-height: 1cm;
  letter-spacing: 2px;
}
