/* body {
  background-color: lemonchiffon;
  border: 2px solid black;
} */

body {
  background-color: lightblue;
  background: url("background.jpg");
  background-size: 13000px 750px;
  /* prothom ta width porer ta height eta korle boro dekhabe na  */
  background-repeat: no-repeat;
  /* eta korle bar bar repeat hbe na */
  background-attachment: fixed;
  /* scroll dile backgroud shoho scroll hbe  */
}
p {
  color: yellow;
}
h1 {
}
h3 {
  color: red;
}
#second-paragraph {
  color: blue;
}
.orange {
  color: orange;
}
h1,
h3 {
  background-color: orchid;
}
